.quiz-game-page {
    //.default-panel {
    //    box-shadow: none;
    //}

    .panel-body {
        //font-family: 'Open Sans';
        text-align: center;
    }

    .invalid-input {
        border-bottom: 1px solid #F89406 !important
    }

    .divider {
        overflow: unset;
    }

    .section-header {
        font-weight: bold;
    }

    input.quiz-input {
        display: inline-block;
        width: 340px;
    }

    input.group-input {
        width: 90px;
        margin-right: 20px;

    }

    .quiz-status {
        color: black;
        font-weight: normal;
        width: 170px;
        display: inline-block;
        text-align: center;

        &.open {
            font-weight: bold;
            color: #26a69a;
        }

        &.closed {
            font-weight: bold;
            color: #ef5350;
        }

    }

    .actions-section {
        width: 220px;
        display: inline-block;
        text-align: center;
        float: right;

        .actions-header {
            font-weight: bold;
        }

        .btn {
            margin-bottom: 10px;
        }
    }

    .no-of-groups {
        margin-bottom: 10px;
    }

    .links-subsection {
        display: inline-block;
        vertical-align: top;

        .quiz-link-headers {
            display: inline-block;
            font-weight: bold;

            .group-name-header {
                text-align: center;
                display: inline-block;
                width: 90px;
                margin-right: 20px;
            }

            .link-header {
                text-align: center;
                display: inline-block;

                width: 340px;
            }

            .status-header {
                width: 170px;
                text-align: center;
                display: inline-block;

            }
        }

        .quiz-link-container {
            min-height: 170px;
        }
    }

    .section-footer {
        height: 20px;
    }

    .quiz-chart-container {
        display: inline-block;
        position: relative;
        width: 24.4%;
        height: 100%;


        .quiz-group-size {
            margin-top: 10px;
            line-height: 2;
            font-size: 1.2vw;
        }

        .lead-div {
            height: 60px;

            img {
                display: none;
                height: 100%;
                margin: 0 auto;
            }

            &.leading {

                img {
                    display: block;
                }

            }
        }

        .group-lead-position {
            font-weight: bold;
            line-height: 1;
        }

        .quiz-chart {
            height: 54%;
            text-align: center;
            width: 100%;
            margin-top: 14%;

            .init-column {
                display: inline-block;
                width: 50%;
                height: 100%;

                .top-rect {
                    position: relative;

                }
            }

            .rev-column {
                display: inline-block;
                width: 50%;
                height: 100%;

                .top-rect {
                    position: relative;
                }
            }

            .leading-position {
                vertical-align: bottom;
                font-size: 3vw;
                font-weight: bold;
                position: absolute;
                bottom: 0;
                width: 100%
            }


        }

        .quiz-stats {
            width: 98%;
            text-align: center;
            font-weight: bold;
            display: flex;
            justify-content: space-around;

            div {
                display: inline-block;
            }
        }

        .quiz-group {
            text-shadow: -1px -1px 1px #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            font-weight: bold;
            margin-bottom: 4%;
            font-size: 4.5vw;
            text-align: center;
        }

        div.chart-diff-div {
            position: relative;
            border: 3px solid black;
            border-top: none;
            display: block;
            height: 4%;
            text-align: center;
            width: 56%;
            margin: 0 auto;

            .chart-diff-text {
                bottom: -10px;
                background-color: white;
                position: absolute;
                padding: 0 10px;
                top: 44%;
                width: 110px;
                color: grey;
                font-weight: bold;
                margin: 0 auto;
                left: 0;
                right: 0;
                font-size: 1.2vw;
            }
        }

        .percentages {
            div {
                display: inline-block;
                width: 49%;
                font-size: 2.7vw;
                font-weight: bold;

            }
        }

        .secondary-view {
            color: grey !important;
            font-size: 1.7vw !important;
        }
    }

    .quiz-chart-container:not(:last-child) {
        margin-right: 10px;
    }

    .groups-count {
        display: inline-block;
        width: 40px;
        margin-top: 0;


    }

    .select-quiz-count-label {
        display: inline-block;
    }
}

.container.run-page {
    width: unset;
    max-width: unset;
}
.run-page {
    .default-panel {
        box-shadow: none;
    }
}
