
.register-page {
    .policy-label {
        padding-left: 15px;
    }
        .terms-label {
            padding-left: 15px;
        }
    .teacher-validate-text {
        color: red;
        visibility: hidden;
        padding-left: 15px;
    }
    #g-recaptcha {
        padding-left: 15px;
        margin-top: 10px;
    }
    .responsible-text {
        margin-top: 0;
    }
  .default-panel {
    @media only screen and (max-width: 992px) {
      font-size: 15px;
      margin-top: 40px;
    }
  }

  .panel-input-field {
    @media only screen and (max-width: 992px) {
      display: block;
      width: 100%;

    }
  }

  .register-type {
    padding: 10px 25px 10px 25px;
    @media only screen and (max-width: 992px) {
      padding: 10px 0 10px 0;

    }

    .register-tab {
      cursor: pointer;
      display: inline-block;
      width: 46%;
      padding: 5px;
      text-align: center;
      transition: border-bottom-color 0.2s ease;
      border-bottom: 1px solid white;

      &.active {
        color: black;
        border-bottom: 1px solid #26a69a;
      }

      &:first-child {
        margin-right: 20px;
        @media only screen and (max-width: 992px) {
          margin: unset;
        }
      }

      @media only screen and (max-width: 992px) {
        margin: unset;
      }
    }
  }

  .teacher-information {
    display: none;
  }


  .panel-footer {
    @media only screen and (max-width: 992px) {
      margin: 0 -20px;
    }

    .create-account-btn {
      float: right;
      @media only screen and (max-width: 992px) {
        float: unset;
      }
    }

    .panel-row {
      text-align: left;
      @media only screen and (max-width: 992px) {
       text-align: unset;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .panel-text-input {
    border: none;
    border-bottom: 1px solid #2176bd;
    width: 100%;

    &:focus {
      outline: none;
    }

  }

  .panel-label {
    font-size: unset;
    color: black;
    @media only screen and (max-width: 992px) {
      width: 100%;
    }
  }
}

